{% extends 'form_div_layout.html.twig' %}

{# Removed wrapper <div> #}
{% block form_widget_compound %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}

{#
    Removed wrapper <div>
    Added "inline" condition
    Added wrapper "div > label" to each child, if not "inline"
#}
{% block choice_widget_expanded %}
{% spaceless %}
    {% if inline %}
        <div> {# condition to break main label and inputs #}
    {% endif %}

    {% for child in form %}
        {% if not inline %}
           <div class="{{ multiple ? 'checkbox': 'radio' }}"> {# no need of this label if the "inline" option is true #}
        {% endif %}

            <label{% if inline %} class="{{ multiple ? 'checkbox': 'radio' }}-inline"{% endif %}>
                {{ form_widget(child) }}
                {#{ form_label(child) }#}
                {{ child.vars.label|trans({}, translation_domain) }}
            </label>
        {% if not inline %}
            </div>
        {% endif %}
    {% endfor %}

    {% if inline %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock choice_widget_expanded %}

{# Added wrapper to year, month and day widgets #}
{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}':  '<div ' ~ year_attr ~ '>' ~ form_widget(form.year) ~ '</div>',
                '{{ month }}': '<div ' ~ month_attr ~ '>' ~ form_widget(form.month) ~ '</div>',
                '{{ day }}':   '<div ' ~ day_attr ~ '>' ~ form_widget(form.day) ~ '</div>',
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{# Added wrapper to hour, minute and second widgets #}
{% block time_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            <div {{ hours_attr|raw }}>{{ form_widget(form.hour, vars) }}</div>

            {% if with_minutes|raw %}
                <div {{ minutes_attr|raw }}>{{ form_widget(form.minute, vars) }}</div>
            {% endif %}

            {% if with_seconds %}
                <div {{ seconds_attr|raw }}>{{ form_widget(form.second, vars) }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock time_widget %}

{# Added .input-group wrapper #}
{% block money_widget %}
{% spaceless %}
    <div class="input-group">
        {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
    </div>
{% endspaceless %}
{% endblock money_widget %}

{# Added .input-group wrapper #}
{% block percent_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div class="input-group">
        {{ block('form_widget_simple') }} <span class="input-group-addon">%</span>
    </div>
{% endspaceless %}
{% endblock percent_widget %}

{# Added .sr-only class instead of remove it when label is false #}
{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}

    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}

    {% if label is sameas(false) %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' sr-only')|trim}) %}
    {% endif %}

    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</label>
{% endspaceless %}
{% endblock form_label %}

{#
    Added .form-group class and .has-error class if there's errors
    Added <div> with `widget_wrapper_attributes` if defined
    Added help if defined
#}
{% block form_row %}
{% spaceless %}
    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}

        {% if widget_wrapper_attr is defined and widget_wrapper_attr %}
            <div {{ block('widget_wrapper_attributes') }}>
        {% endif %}

            {{ form_widget(form) }}

            {% if help is defined %}
                <span class="help-block">{{ help|trans({}, translation_domain) }}</span>
            {% endif %}

            {{ form_errors(form) }}

        {% if widget_wrapper_attr is defined and widget_wrapper_attr %}
            </div>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock form_row %}

{# @see "form_row" block comments #}
{% block checkbox_row %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
        {% if widget_wrapper_attr is defined and widget_wrapper_attr %}
            <div {{ block('widget_wrapper_attributes') }}>
        {% endif %}

            {{ form_errors(form) }}

            <label>
                {{ form_widget(form) }}
                {{ label|trans({}, translation_domain)|raw }}
            </label>

            {% if help is defined %}
                <span class="help-block">{{ help|trans({}, translation_domain) }}</span>
            {% endif %}

            {{ form_errors(form) }}

        {% if widget_wrapper_attr is defined and widget_wrapper_attr %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{# Removed wrapper <div> #}
{% block button_row %}
{% spaceless %}
    {{ form_widget(form) }}
{% endspaceless %}
{% endblock button_row %}

{# Added "help-block" class #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="help-block">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# New helper to parse widget wrapper attributes (used on form_row block) #}
{% block widget_wrapper_attributes %}
{% spaceless %}
    {% for attrname, attrvalue in widget_wrapper_attr %}{{ attrname }}="{{ attrvalue }}"{% endfor %}
{% endspaceless %}
{% endblock widget_wrapper_attributes %}

{#% block label_string %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    {{ label|trans({}, translation_domain) }}
{% endblock label_string %#}
